<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    {{#if posts.length}}
    <ul>
      {{#each posts}}
      <li class="list-group-item">
        <div class="lead">
          <a href="/posts/{{this._id}}" class="lead">{{this.title}}</a>
        </div>
        <a href="{{this.url}}" target="_blank" rel="noreferrer noopener">{{this.url}}</a>
        <div><small><a href="/users/{{this.author.username}}">{{this.author.username}}</a></small></div>
        <div class="text-end">
          <a href="/posts/n/{{this.subreddit}}">{{this.subreddit}}</a>
        </div>
        <form class="vote-up" data-id="{{this._id}}">
          <button type="submit">Vote Up</button>
        </form>
        <div data-score="{{this._id}}">{{this.voteScore}}</div>
        <form class="vote-down" data-id="{{this._id}}">
          <button type="submit">Vote Down</button>
        </form>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <h1>No Posts found.</h1>
    {{/if}}
  </div>
</div>